* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
}
.navBar {
    width: 100%;
    height: 10%;
    display: flex;
    padding: 10px;
    padding-right: 20px;
}
.navList {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
    color: rgb(203, 87, 48);
    list-style: none;
}
.image {
    height: 100%;
}
.image img {
    height: 90%;
}
main {
    height: 80%;
}
.mainContent {
    padding: 10px;
  color: white;
  background-image: url(https://images.teamtailor-cdn.com/images/s3/teamtailor-production/user_picture_800-v9/image_uploads/2585139f-ac9b-4326-9d3f-ca810c822aa7/original.png);
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 100px 0px;
}
.description {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 20px;
    color: rgb(203, 87, 48);
    height: 50%;
}
main img {
    height: 30%;
    width: 30%;
}

footer {
    height: 10%;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    font-size: 1.5em;
    color: rgb(241, 233, 150);
    
}

@media only screen and (min-width: 768px) {
    body {
        font-size: 1.5em;
    }
    main {
      display: flex;
      flex-direction: row;
      
    }
.mainContent {
width: 50%;
}    
.description {
width: 50%;
height: 100%;
flex-direction: column;
}
}